.frc-captcha * {
    /* Mostly a CSS reset so existing website styles don't clash */
    margin: 0;
    padding: 0;
    border: 0;
    text-align: initial;
    border-radius: px;
    filter: none !important;
    transition: none !important;
    font-weight: normal;
    font-size: 14px;
    font-family: var(--bs-font-family-base);
    line-height: 1.2;
    text-decoration: none;
    background-color: initial;
    color: var(--bs-body-color);
}

.frc-captcha {
    position: relative;
    min-width: 250px;
    max-width: 312px;
    border: 0px solid var(--bs-light);
    padding-bottom: 12px;
    background-color: var(--bs-body-bg);
}

.frc-captcha b {
    font-weight: bold;
}

.frc-container {
    display: flex;
    align-items: center;
    min-height: 52px;
}

.frc-icon {
    fill: var(--bs-primary);
    stroke: var(--bs-primary);
    flex-shrink: 0;
    margin: 8px 8px 0 8px;
}

.frc-icon.frc-warning {
    fill: var(--bs-danger);
    stroke: var(--bs-danger);
}

.frc-success .frc-icon {
    animation: frc-fade-in 1s both ease-in;
    fill: var(--bs-success);
    stroke: var(--bs-success);
}

.frc-content {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin: 4px 6px 0 0;
    overflow-x: auto;
    flex-grow: 1;
}

.frc-banner {
    position: absolute;
    bottom: 0px;
    right: 6px;
    line-height: 1;
}

.frc-banner * {
    font-size: 10px;
    opacity: 0.8;
    text-decoration: none;
}

.frc-progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 3px 0;
    height: 4px;
    border: none;
    background-color: var(--bs-dark);
    color: var(--bs-body-color);
    width: 100%;
    transition: all 0.5s linear;
}

.frc-progress::-webkit-progress-bar {
    background: var(--bs-dark);
}

.frc-progress::-webkit-progress-value {
    background: var(--bs-primary);
}

.frc-progress::-moz-progress-bar {
    background: var(--bs-dark);
}

.frc-button {
    cursor: pointer;
    padding: 2px 6px;
    background-color: var(--bs-light);
    color: var(--bs-dark);
    border: 1px solid transparent;
    text-align: center;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: none;
}

.frc-button:focus {
    border: 1px solid var(--bs-light);
}

.frc-button:hover {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.frc-captcha-solution {
    display: none;
     font-size: 10px;
}

.frc-err-url {
    text-decoration: underline;
    font-size: 0.9em;
}

/* Dark theme */

.dark.frc-captcha {
    color: var(--bs-body-bg);
    background-color: var(--bs-body-color);
    border-color: var(--bs-body-color);
}

/*
.dark .frc-button {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.dark .frc-button:focus {
    border: 1px solid var(--bs-dark);
}

.dark .frc-button:hover {
    background-color: var(--bs-light);
    color: var(--bs-dark);
}
*/

.dark.frc-captcha * {
    color: var(--bs-body-bg);
}

.dark .frc-progress {
    background-color: var(--bs-body-bg);
}

.dark .frc-progress::-webkit-progress-bar {
    background: var(--bs-light);
}

.dark .frc-progress::-moz-progress-bar {
    background: var(--bs-light);
}

@keyframes frc-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
